<h3><%= @store.count %>Total Stores</h3>
<div class="container">
  <% @stores.each do |store| %>
    <p class="name"><%= store.name %></p>
    <p class="city"><%= store.city %></p>
    <p class="distance"><%= store.distance %></p>
    <p class="phone-number"><%= store.phone_number %></p>
    <p class="store-type"><%= store.store_type %></p>
  <% end %>
</div>
