<h3><%= @stores.count %> Total Stores</h3>
<div class="container">
  <% @stores.each do |store| %>
  <strong><p class="name">Name: <%= store.name %></p></strong>
    <p class="city">City: <%= store.city %></p>
    <p class="distance">Distance: <%= store.distance %></p>
    <p class="phone-number">Phone: <%= store.phone_number %></p>
    <p class="store-type">Store Type: <%= store.store_type %></p>
  <% end %>
</div>
